<div class="center">
  <div class="centrar">
    <div class="card" style="width: 30rem;">
      <img src="../../../assets/img/MJR.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <a class="btn btn-dark" [routerLink]="[ '/messi']" routerLinkActive="active">Messi</a>
        <a class="btn btn-dark" [routerLink]="[ '/ronaldo']" routerLinkActive="active">Ronaldo</a>
        <a class="btn btn-dark" [routerLink]="[ '/james']" routerLinkActive="active">James</a>
      </div>
    </div>
  </div>
</div>